<div *ngIf="loading && images.length > 0">
  <ion-item><ion-spinner name="bubbles"></ion-spinner></ion-item>
</div>
<div *ngIf="!loading">
  <ion-item *ngIf="images.length > 0" >
    <ion-slides #slider pager="true" [options]="sliderOpts">
      <ion-slide *ngFor="let image of images; index as pos">
        <ion-img
          alt="{{ pos }}"
          src="{{ image.path }}"
          (click)="openImage(image)"
        ></ion-img>
      </ion-slide>
    </ion-slides>
  </ion-item>
  <div *ngIf="upload">
    <ion-item>
      <ion-button class="secondary-btn" fill="outline" expand="block" (click)="selectMedia()">
        <ion-icon slot="start" name="document"></ion-icon>
        Subir Imagen
      </ion-button>

      <ion-button
        *ngIf="images.length > 0"
        (click)="openModal()"
        class="secondary-btn" fill="outline" expand="block"
      >
        <ion-icon slot="start" name="trash"></ion-icon>
        Quitar Imagen
      </ion-button>
    </ion-item>
  </div>
</div>
