// ion-avatar {
//   position: absolute;
//   top: 3%;
//   right: 3%;
//   width: 70px;
//   height: 70px;
//   // margin-right: 20px;
//   // margin-top: -35px;
//   border: solid 2px #D95A2B;
// }

// p {
//   white-space: normal !important;
//   text-align: justify;
//   font-size: 10px;
//   line-height: 1.4;
// }
// ion-item {
//   --border-radius: 1em;
//   --border-width: 0.1em !important;
//   margin-bottom: 0.3em;
// }

.icon {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}

.text {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  color: darkblue;
}
